.marker-bridge-info {
	position: relative;
}

.marker-bridge-info>.top {
	height: 100px;
    width: 337px;
    
	/* border-bottom: 2px solid #131c36; */
    margin-left: 15px;
    margin-top: 16px;
}

.marker-bridge-info>.bottom {
	height: 142px;
    width: 337px;
    margin: 15px;
    background-color: #FFF;
    border-radius: 7px;
}
.marker-bridge-info>.bottom>.detail-info {
	padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
}
.marker-bridge-info>.bottom>.detail-info>.detail-info-item {
	display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 8px;
    /* font-weight: 700; */
}

.marker-bridge-info>.bottom>.detail-info>.detail-info-item>.detail-left {
	margin-left:5px;
    color:rgb(106,106,106);
    width:80px;
    font-size:14px;
    font-weight: 600;
}

.marker-bridge-info>.bottom>.detail-info>.detail-info-item>.detail-right {
	color:#4982dc;
    width:230px;
    font-size:16px;
    font-weight: 700;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

/* .marker-bridge-info>.bottom>.detail-info>.detail-info-item>.detail-right:hover {
	color:#000;
} */

.marker-bridge-info>.bottom>.detail-info>.detail-info-item>.detail-img {
    width: 15px;
}

.marker-bridge-info>.bottom>.detail-info>.bottom-right {
	right:10px;
	bottom:10px;
    position: absolute;
	/* display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	padding-top: 30px; */
}

.marker-bridge-info>.bottom>.detail-info>.bottom-right:hover {
    cursor: pointer;
  }

